<div ng-init="carregarEstadia()" class="panel panel-info">    
    <div class="panel-heading"> 
        <div class="panel-title" ng-show="isNovaEstadia">Cadastrar nova estadia</div>
        <div class="panel-title" ng-show="!isNovaEstadia">Alterar nova estadia</div>
        <div class="panel-options">
            <a href="" data-rel="collapse"><i class="entypo-down-open-big"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <form name="formEstadia" novalidate class="form-horizontal form-groups-bordered">
            <div class="form-group">
                <label for="dataentrada" class="col-md-2 control-label"> Data de Entrada:</label>
                <div class="col-md-3"><input type="date" ng-model="estadia.dataentrada" id="dataentrada" name="dataentrada" required="" class="form-control requerido"></div>
            </div>

            <div ng-show="formEstadia.dataentrada.$dirty && formEstadia.dataentrada.$invalid" class="alert alert-danger col-md-offset-2 col-md-10" role="alert">
                <span ng-show="formEstadia.dataentrada.$error.required">Preencha data de entrada. </span>
            </div>

            <div class="form-group">
                <label for="familia" class="col-md-2 control-label">Familia: </label>
                <div class="col-md-3" style="margin-left: -1.5%; margin-top: -0.8%;" ng-init="carregarFamilias()">
                    <multiselect class="input-lg"  ng-change="carregarMembros(estadia.familia.idfamilia)"
                                 ng-model="estadia.familia" 
                                 ms-selected ="{{itens.selected.length}}" 
                                 ms-header="Selecione uma familia"
                                 options="f.nomefamilia for f in familia" 
                                 scroll-after-rows="8" required="">
                    </multiselect>
                </div>
            </div>

            <div ng-show="formEstadia.familia.$dirty && formEstadia.familia.$invalid" class="alert alert-danger col-md-offset-2 col-md-10" role="alert">
                <span ng-show="formEstadia.familia.$error.required">Selecione uma familia. </span>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Selecione o Representante: </label>
                <div class="col-md-3" style="margin-left: -1.5%;">
                    <multiselect class="input-lg" 
                                 ng-model="estadia.representante" 
                                 ms-selected ="{{itens.selected.length}}" 
                                 ms-header="* Selecione o representante"
                                 options="representante.nome for representante in itens" 
                                 scroll-after-rows="8" required="">
                    </multiselect>
                </div>
                <div >
                    <label for="quantidademembro" class="col-md-2 control-label">Telefone:</label>
                    <div class="col-md-2"><input type="text" ng-model="estadia.representante.telefone" id="telefone" name="telefone" class="form-control" disabled=""></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Selecionar os Acompanhantes: </label>
                <div class="col-md-3" style="margin-left: -1.5%;">
                    <multiselect class="input-lg" 
                                 ng-model="estadia.membros" 
                                 multiple="true" 
                                 ms-selected ="{{itens.selected.length}}" 
                                 ms-header="Selecione os membros"
                                 options="membro.nome for membro in itens" 
                                 scroll-after-rows="8" required="">
                    </multiselect>
                </div>

                <div >
                    <label for="quantidademembro" class="col-md-2 control-label">Qtde de Acompanhantes:</label>
                    <div class="col-md-1"><input type="text" ng-model="estadia.membros.length" id="quantidademembro" name="quantidademembro" class="form-control" disabled=""></div>
                </div>
            </div>

            <div ng-show="" class="alert alert-danger col-md-offset-2 col-md-10" role="alert">
                <span ng-show="">Selecione um acompanhante. </span>
            </div>

            <div>
                <label class="col-md-2 control-label" style="margin-left: -1%; margin-top: 20px;">Observações: </label>                
                <textarea rows=5 class="col-md-7" style="margin-top: 10px; margin-left: 1.5%; border-radius: 5px;" ng-model="estadia.observacoesentrada" id="observacoesentrada" name="observacoesentrada"></textarea>
            </div>
        </form> 
    </div>
</div>

<div class="panel panel-info" data-collapsed="1">    
    <div class="panel-heading"> 
        <div class="panel-title">Saída</div>
        <div class="panel-options">
            <a href="" data-rel="collapse"><i class="entypo-down-open-big"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <form name="formSaidaEstadia" novalidate class="form-horizontal form-groups-bordered">
            <div class="form-group">
                <label for="datasaida" class="col-md-2 control-label"> Data de Saída:</label>
                <div class="col-md-3"><input type="date" ng-model="estadia.datasaida" id="dataentrada" name="datasaida" required="" class="form-control"></div>
            </div>
            <div>
                <label class="col-md-2 control-label" style="margin-left: -1%; margin-top: 20px;">Observações: </label>                
                <textarea rows=5 class="col-md-7" style="margin-top: 10px; margin-left: 1.5%; border-radius: 5px;" ng-model="estadia.observacoessaida" id="observacoessaida" name="observacoessaida"></textarea>
            </div>
        </form>
    </div>
</div>

<div>
    <button ng-show="isNovaEstadia" ng-click="salvarEstadia()" ng-disabled="!formEstadia.$valid" class="btn btn-success">Cadastrar</button>
    <button ng-hide="isNovaEstadia" ng-click="salvarEstadia()" ng-disabled="!formEstadia.$valid" class="btn btn-success">Alterar</button>
    <button ng-show="isNovaEstadia" ng-click="reset(formEstadia)" class="btn btn-info">Limpar</button>
</div>
