<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">Eventos cadastrados</div>
        <div class="panel-options">
            <a href="" data-rel="collapse"><i class="entypo-down-open-big"></i></a>
        </div>    
    </div>
    <div class="panel-body">
        <ng-include src="'views/busca.html'"></ng-include>
        <div class="panel panel-default" ng-init="registrosPadrao()">
            <table id="tabelaGrid" class="table table-striped datatable">
                <thead>
                    <tr>
                        <th>
                            <i class="fa fa-sort-amount-{{tipoOrdem}}" ng-show="campoAtual === 'descricao'"></i>
                            <a ng-click="atualizarListagens(busca.numregistros, pagina, 'descricao', busca.descricao, 'ok', true)">Evento</a>
                        </th>

                        <th>
                            <i class="fa fa-sort-amount-{{tipoOrdem}}" ng-show="campoAtual === 'datainicial'"></i>
                            <a ng-click="atualizarListagens(busca.numregistros, pagina, 'datainicial', busca.descricao, 'ok', true)">Data Inicio</a>
                        </th>

                        <th>
                            <i class="fa fa-sort-amount-{{tipoOrdem}}" ng-show="campoAtual === 'datafinal'"></i>
                            <a ng-click="atualizarListagens(busca.numregistros, pagina, 'datafinal', busca.dataTermino, 'ok', true)">Data Término</a>
                        </th>

                        <th>
                            <i class="fa fa-sort-amount-{{tipoOrdem}}" ng-show="campoAtual === 'visualizarnocalendario'"></i>
                            <a ng-click="atualizarListagens(busca.numregistros, pagina, 'visualizarnocalendario', busca.calendario, 'ok', true)">Calendário</a>
                        </th>

                        <th>
                            Ações
                        </th>
                    </tr>
                </thead>
                <tbody ng-init="atualizarListagens(busca.numregistros, 1, campoPrincipal, '', '', '')">
                    <tr ng-repeat='c in dadosRecebidos.itens.listaDeRegistros' >
                        <td>{{c.descricao}}</td>
                        <td> {{dateToData(c.datainicial)}}</td>
                        <td> {{dateToData(c.datafinal)}}</td>
                        <td>{{taNoCalendario(c.visualizarnocalendario)}}</td>

                        <td>
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-h"> </i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a ng-click="confirmaExclusao('eventos', 'evento', c.descricao, c.idevento)">Excluir</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">Registros encontrados: {{dadosRecebidos.itens.totalDeRegistros}}</div>
        </div>
        <div id="blocoPaginacao">
            <div id="paginacao"></div>
        </div>
    </div>
</div>     
<div>
    <a ng-href="#/Eventos/novo" class="btn btn-success">Cadastrar novo</a>
</div>

<div ng-include="'views/confirmaExclusao.html'"></div>