<!--<div><ng-include src="'views/calendario.html'"></ng-include></div>-->
<div class="calendar"> 
    <div  data-role="day" data-day="2015-10-14">
        <div data-role="event" data-name="This is an event" data-start="2015/10/14" data-end="2015/10/16" data-location="The Web"></div>
        <div data-role="event" data-name="This is an event" data-start="2015/10/14" data-end="2015/10/16" data-location="The Web"></div>
    </div>   
</div>
<br><br>
<div class="panel panel-white">
            <div class="panel-body">
                <span class="badge badge-event-notif"> </span> &nbsp Eventos &nbsp&nbsp&nbsp
                <span class="badge badge-event-aniver"> </span> &nbsp Aniversários &nbsp&nbsp&nbsp
                <span class="badge badge-event-visita"> </span> &nbsp Visitas &nbsp&nbsp&nbsp
            </div>
        </div>

<!--<div ng-include="'views/calendario.html'"></div>-->



<!--ng-repeat="e in eventos"-->

<!--<div data-role="day" data-day="20151014">
    <div data-role="event" data-name="This is an event" data-start="2015/10/14" data-end="2015/10/16" data-location="The Web"></div>
    <div data-role="event" data-name="This is also an event" data-start="10.00" data-end="11.00" data-location="At Home"></div>
</div> -->
