<div class="panel panel-info">
    <div class="panel-heading"> 
        <div class="panel-title">Perfis cadastrados</div>
        <div class="panel-options">
            <a href="" data-rel="collapse"><i class="entypo-down-open-big"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <ng-include src="'views/busca.html'"></ng-include>
        <div class="panel panel-default" ng-init="registrosPadrao()">
            <table id="tabelaGrid" class="table table-striped datatable">
                <thead>
                    <tr>
                        <th>
                            <i class="fa fa-sort-amount-{{tipoOrdem}}" ng-show="campoAtual == 'nome'"></i>
                            <a ng-click="atualizarListagens(busca.numregistros, pagina, 'nome', busca.descricao, 'ok', true)">Perfil</a>
                        </th>
                        <th>
                            Ações
                        </th>
                    </tr>
                </thead>
                <tbody ng-init="atualizarListagens(busca.numregistros, 1, campoPrincipal, '', '', '')">
                    <tr ng-repeat='p in dadosRecebidos.itens.listaDeRegistros' >
                        <td>{{p.nome}}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-h"> </i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a ng-click="editar(p)">Editar</a></li>
                                    <li><a ng-click="confirmaExclusao('perfildeacesso', 'perfil de acesso', p.nome, p.idperfildeacesso)">Excluir</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="panel-footer">
                <span> Registros encontrados: {{dadosRecebidos.itens.totalDeRegistros}}</span>
            </div>
        </div>
        <div id="blocoPaginacao">
            <div id="paginacao"></div>
        </div>

    </div>
</div>
<div>
    <a ng-href="#/Perfil/novo" class="btn btn-success">Cadastrar novo</a>
</div>

<div ng-include="'views/confirmaExclusao.html'"></div>