<div ng-init="carregar()" class="panel panel-info" >
    <div class="panel-heading"> 
        <div class="panel-title">Cadastrar novo usuário</div>
        <div class="panel-options">
            <a href="" data-rel="collapse"><i class="entypo-down-open-big"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <form name="formCadUser" novalidate class="form-horizontal form-groups-bordered">

            <div ng-show="mostrarColaboradores" class="form-group" ng-init="carregaColoaborador()">
                <label for="perfis" style="margin-top: 0.5%;" class="col-md-2 control-label">Colaborador:</label>
                <multiselect id="pessoa" name="pessoa" class="input-lg" required=""
                             ng-model="usuario.pessoa" 
                             multiple="false" 
                             ms-selected ="{{coloaborador.nome}}" 
                             ms-header="*  Selecione o colaborador"
                             options="coloaborador.nome for coloaborador in colaboradores" 
                             scroll-after-rows="8" required="">
                </multiselect>
            </div>

            <div class="form-group"> 
                <label for="login" class="col-md-2 control-label">Login:</label>
                <div class="col-md-10"><input type="text" ng-model="usuario.login" id="login" name="login" class="form-control requerido" required="" ng-change="validarLogin()"></div>
            </div>
            <div ng-show="erroNoLogin" class="alert alert-danger col-md-offset-2 col-md-10" role="alert">
                <!--<span ng-show="formCad.login.$error.required">Preecher login. </span>-->
                <span ng-show="!existeLogin">Login já cadastrado. </span>
                <span ng-show="existeEspaco">Login não deve ter espaços. </span>
                <span ng-show="minLogin">Login deve ter mais de 3 caracteres. </span>
                <span ng-show="maxLogin">Login não pode ter mais de 20 caracteres. </span>
            </div>

            <div class="form-group">
                <label for="senha" class="col-md-2 control-label">Senha: </label>
                <div class="col-md-10"><input type="password" ng-model="usuario.senha.senha" id="senha" name="senha" class="form-control requerido" required="" ng-change="validarSenha()"></div>
            </div>      

            <div ng-show="erroNaSenha" class="alert alert-danger col-md-offset-2 col-md-10" role="alert">
                <!--<span ng-show="">Preencher senha. </span>-->
                <span ng-show="minSenha">Senha deve ter mais de 6 caracteres. </span>
                <span ng-show="maxSenha">Senha não pode ter mais de 10 caracteres. </span>
                <span ng-show="!senhaInvalida">Senha deve ter pelo menos uma letra minúscula, uma maiúscula, um número e um caracter especial. </span>
            </div>

            <div class="form-group">
                <label for="rsenha" class="col-md-2 control-label">Confirmar senha: </label>
                <div class="col-md-10"><input type="password" ng-model="usuario.rsenha" id="rsenha" name="rsenha" class="form-control requerido" required="" ng-change="validarSenhaConferem()"></div>
            </div>

            <div ng-show="erroSenhaDiferente" class="alert alert-danger col-md-offset-2 col-md-10" role="alert">
                <span ng-show="senhaConfere">Senhas não conferem.</span>
            </div>

            <div class="form-group" ng-show="visibilidadeP"  ng-init="carregaPerfis()">
                <label for="perfis" style="margin-top: 0.5%;" class="col-md-2 control-label">Adicionar Perfis:</label>
                <multiselect id="perfis" name="perfis" class="input-lg"
                             ng-model="usuario.perfis" 
                             multiple="true" 
                             ms-selected ="{{perfis.selected.length}}" 
                             ms-header="*  Selecione os Perfis"
                             options="perfil.nome for perfil in perfis" 
                             scroll-after-rows="8" required="">
                </multiselect>
                <div class="col-md-4">
                    <button type="button" class="btn-success btn btn-sm" style="margin-left: -8%; margin-top: 2.85%;" onclick="jQuery('#perfilModal').modal('show', {backdrop: 'static'});">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="perfilModal" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cadastrar Perfil</h4>
            </div>
            <div class="modal-body" ng-controller="PerfilController">
                <form name="formPerfil" novalidate class="form-horizontal">
                    <div class="form-group">    
                        <label for="nome" class="col-md-2 control-label">Nome Perfil:</label>
                        <div class="col-md-10"><input type="text" ng-model="perfil.nome" id="nome" name="nome" required="" class="form-control" ng-minlength=3 ng-maxlength=50></div>
                    </div>
                    <div ng-show="formPerfil.nome.$dirty && formPerfil.nome.$invalid" class="alert alert-danger" role="alert" class="col-md-12">
                        <span ng-show="formPerfil.nome.$error.required">Preencha com o nome do Perfil.</span>
                        <span ng-show="formPerfil.nome.$error.minlength">Nome deve ter mais de 3 caracteres.</span>
                        <span ng-show="formPerfil.nome.$error.maxlength">Nome não pode ter mais de 50 caracteres.</span>
                    </div>

                    <div class="form-group" ng-init="itensAcesso()">
                        <label for="nome" class="col-md-2 control-label">Adicionar Itens:</label>
                        <multiselect class="input-lg" 
                                     ng-model="perfil.itensselecionados" 
                                     multiple="true" 
                                     ms-selected ="{{itens.selected.length}}" 
                                     ms-header="Selecione os Itens"
                                     options="item.nome for item in itens" 
                                     scroll-after-rows="8">
                        </multiselect>

                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button ng-click="salvar('modal')" ng-disabled="!formPerfil.$valid" onclick="fechaModal('perfilModal')" class="btn btn-success"> Cadastrar</button>
                            <button ng-click="novoPerfil()" onclick="fechaModal('perfilModal')" class="btn btn-info">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <button ng-show="isNovo" ng-click="salvar()" ng-disabled="!formCadUser.$valid" class="btn btn-success">Cadastrar</button>
    <button ng-hide="isNovo" ng-click="salvar()" ng-disabled="!formCadUser.$valid" class="btn btn-success">Alterar</button>
    <button ng-show="isNovo" ng-click="reset(formCad)" class="btn btn-info">Limpar</button>
</div>